# Rust
/target
**/*.rs.bk

# Node/Nuxt
/station/.nuxt
/station/.output
/station/node_modules
/station/.nitro
/station/.cache
/station/.turbo

# Env
.env
*/.env
**/.env

# Logs
*.log
logs/
/server/sqlx-data.json

# OS
.DS_Store
